# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/
anaconda3/
miniconda3/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Streamlit cache
.streamlit/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build / distribution
build/
dist/
*.egg-info/

# TensorFlow / Keras cache
.keras/

# DO NOT ignore your trained model (needed for deployment)
# simple.rnn_imdb.h5
